*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    width: 700px;
    background-color: lightpink;
    margin: 80px auto;
    padding-bottom: 35px;
}
form h2{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 15px;
}
.contact-parent input{
    width: 310px;
    height: 35px;
    margin: 15px auto;
    display: block;
    border: none;
    padding: 0 10px;
    border-radius: 16px;
    font-size: 13px;

     }
     form textarea{
        margin: 25px auto;
        display: block;
        width: 310px;
        height: 130px;
        padding: 10px 10px;
        border-radius: 17px;
        border: none;
        font-size: 13px;
     }
     .input-btn{
        margin: auto;
        display: block;
        font-size: 18px;
        width: 280px;
        height: 40px;
        border: none;
        background: none;
        
     }
     