*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav .one-image img{
    height: 100%;
    border-radius: 50%;
}
   
nav{
    display: flex;
    justify-content: space-between;
    background-color: #1a1244;
    height: 45px;
    padding: 0 100px;
    border-bottom: 4px solid #2f207a;
   position: sticky;
   top: 0;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.5s;
}
nav ul li a:hover{
    color: red;
    border-radius: 5px;
}
/* navegation finish */
main{
     background-color: #1a236d;
     padding-top: 20px;
}
#main-parent{
     max-width: 1000px;
     margin: 0 auto;
     padding: 50px 0;   
}
.two-child-parent{
    display: flex;
    justify-content: space-between;
    color: white;

}
.two-page span{
    background-color: antiquewhite;
    padding: 0 5px;
    margin: 0 5px;
    color: black;
    border: 1px solid #7c7272;
    border-radius: 4px;
    cursor: pointer;
}
.Latesed-Video h3{
    color: #04aa6d;
}
/* img section start */
#main-section{
    background-color: #1a236d;
    padding-bottom: 50px;
}
.all-things-parent{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    grid-row-gap: 55px;   
    grid-column-gap: 20px;
 }
 .single-img-box{
    height: 200px;
    border: 2px solid red;
}
.single-img-box img{
    width: 100%;
    height: 100%;
    cursor: pointer;
   
}
.single-img-box div{
    display: flex;
    justify-content: space-between;
    color: gray;
    margin-top: 10px;
}
/* second section start */
#btn-parent{
    background-color: #1a236d;
    padding-bottom: 50px;
    
}
.next-parent{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 40px;
    
}
.next-parent a{
    text-decoration: none;
    color: white;
}
.next-parent h3 a{
    background-color: #04aa6d;
    padding: 8px 18px;
    border-radius: 5px;
    transition: 0.5s;
   
}
.next-parent h3 a:hover{
    background-color: #036d46;
}
.next-parent div a{
    background-color: antiquewhite;
    color: black;
    border: 2px solid gray;
    padding: 10px;
    margin: 0 9px;
    border-radius: 5px;
}
.next-parent div a:first-child{
    background-color: #04aa6d;
    color: white;
}